
.inputContainer {
    text-align: center;
  }
  
  .inputWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;

  }


  
  .inputField {
    font-size: 2rem;
    width: 60px;
    height: 56px;
    box-shadow: 0px 0px 6px 0px #00000080;
    text-align: center;
    border-radius: 8px;
  }

  .inputItem{
    position: relative;
  }

  .quote,
  .arrow {
    position: absolute;
    top: -40px;
    left: 40%;
    font-size: 24px;
  }
 
  
  .inputField.error {
    border-color: #E54040B2;
font-weight: 700;
font-size: 32px;
line-height: 41.6px;
  }
  
 .default {
    border: none;
  }
  
  .inputField.correct {
    position: relative;
  }
  

  .inputItem {
    position: relative;
    display: inline-block;
  }
  
  .inputItem.correct::before {
    content: "✔";
    position: absolute;
    z-index: 20;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    /* display: block; */
  }
  
  
  
  